html, body{
	height: 100%;
	width: 100%;
}



.navbar {
	background-color: #5B0BFF;
	padding: 1% 0;
	font-size: 1.2em;
}

.navbar-brand {
	min-height: 55px;
	padding: 0 15px 5px;
}
.navbar-default .navbar-nav li a {
	color: #D5D5D5!important;
}

.navbar-default .navbar-nav li a:hover{
	color: white!important;
}

.navbar-brand img{
	padding-bottom: 50px;
	height: 100px;
	size: 55px;
}

#home {
	background: url(../img/a.png) no-repeat center center fixed;
	/*background-color: #D5D5D5;*/
	display: table;
	height: 100%;
	position: relative;
	width: 100%;
	background-size: cover;
}

.landing-text{
	display: table-cell;
	text-align: center;
	vertical-align: middle;
}

.landing-text h1{
	font-size: 500%;
	font-weight: 700;
	line-height: 0.6;
}

.landing-text h2{
	font-family: 'Quicksand', sans-serif;
	font-weight: 300;
}

.landing-text a{
	font-family: 'Quicksand', sans-serif;
	font-weight: 400;
}

.about {
	background-color: #7700E6; 
	padding: 6em 0;
}

.about-info h1{
	text-align: center;
	font-size: 5em;
	font-weight: 700;
	border-bottom: 1px solid#FFFFFF;
	color: #FFF;
	padding-bottom: .4em;
	margin-bottom: .5em;
}

.about-info p{
	text-align: center;
	font-size: 1.4em;
	font-family: 'Quicksand', sans-serif;
	color: #FFF;

}

.reviews {
	background-color: #7700E6; 
	padding: 6em 0;
}

.reviews-info h1{
	text-align: center;
	font-size: 5em;
	font-weight: 700;
	border-bottom: 1px solid#FFFFFF;
	color: #FFF;
	padding-bottom: .4em;
	margin-bottom: .5em;
}

.reviews-info p{
	text-align: center;
	font-size: 1.4em;
	font-family: 'Quicksand', sans-serif;
	color: #FFF;

}

section {
	padding: 0px 0!important;
}

.portfolio {
	background-color: white; 
	padding: 6em 0;
}

.portfolio-info h1{
	text-align: center;
	font-size: 5em;
	font-weight: 700;
	color: #252525;
}

.portfolio-info p{
	text-align: center;
	font-family: 'Open Sans', sans-serif;
	font-size: 1.46em;
	color: #252525;
	font-weight: 700;
	width: 56%;
	margin: 0 auto;
	padding: 1.5em 0 1.5em;
	line-height: 1.7em;
	border-bottom: 1px solid#D7D7D7;
}

.portfolio-cards {
	margin-top: 2em;
	width: 100%;
	overflow: visible;
	position: relative;
	height: 740px;
}

.portfolio-card {
	position: relative;
	float: left;
	margin-right: 10px;
	margin-left: 10px;
	left: 0px;
	top: 0px;
	width: 360px;
	display: block;
	margin-bottom: 1.875rem;
	background: #7700E6;
	border-radius: 2px;
	overflow: visible;
	box-shadow: 1px 1px 2px #d8dadf;
}

.portfolio-card .preview{
	position: relative;
	width: 100%;
	min-height: 100px;
	display: block;
	overflow: hidden;
	background: #7700E6;
	border: 3px solid #fff;
	border-radius: 2px;
}

.portfolio-card .preview:before{
	content:' ';
	position:absolute;
	top:0;
	bottom:0;
	left:0;
	right:0;
	background:rgba(37,38,45,0.5);
	z-index:2;
	opacity:0;
	transition:opacity 0.2s;
	border-radius:2px;
}

.portfolio_card:hover .preview:before,.portfolio_card:hover .preview .details{
	opacity:1
}

.portfolio-card .stats{
	font-size: 0.9rem;
	margin-bottom: 0;
}

.stats {
	overflow: hidden;
	font-size: 0.9rem;
	list-style: none;
	padding: 0;
	border-bottom: 1px solid #f4f4f6;
	background: white;
}

.stat {
	float: left;
	width: 50%;
	padding-left: 1.3125rem;
	border: none;
}

.stat .name {
	margin: 15px 0 3px;
	font-size: 1.3rem;
	text-transform: uppercase;
	color: #000;
	font-weight: 200;
}

.stat .value {
	font-size: 1.3rem;
	font-weight: 800;
	color: #000;
	line-height: 1.5;
}


.preview {
  opacity: 1;
  display: block;
  width: 100%;
  height: auto;
  transition: .5s ease;
  backface-visibility: hidden;
}

.projectName {
  transition: .5s ease;
  opacity: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  text-align: center;
}

.container:hover .image {
  opacity: 0.3;
}

.portfolio-card:hover .projectName {
  opacity: 1;
}

.text {
  background-color: black;
  color: white;
  font-size: 16px;
  padding: 16px 32px;

}


.pricing {
	background-color: #7700E6; 
	padding: 6em 0;
}

.pricing-info h1{
	text-align: center;
	font-size: 5em;
	font-weight: 700;
	color: #FFF;
}

.pricing-info p{
   text-align: center;
	font-family: 'Open Sans', sans-serif;
	font-size: 1.46em;
	color: white;
	font-weight: 700;
	width: 56%;
	margin: 0 auto;
	padding: 1.5em 0 1.5em;
	line-height: 1.7em;
	border-bottom: 1px solid#D7D7D7;

}

.pricing-grids {
  width: 100%;
  margin: 8% auto 0;
}
.pricing-grid {
  float: right;
    transition: 0.5s all;
  -webkit-transition: 0.5s all;
  -moz-transition: 0.5s all;
  -o-transition: 0.5s all;
}
.price-head h3 {
	color: #404042;
	font-size: 3em;
	text-decoration: none;
	font-weight: 700;
}
a.popup-with-zoom-anim {
  padding: 0 12px;
  line-height: 2.2em;
}
 .pricing-grid3{
 	margin-right: 0;
 }
.pricing-grid:hover,.pricing-grid:hover,.pricing-grid:hover {
	transform: scale(1.05);
-webkit-transform: scale(1.05);
-moz-transform: scale(1.05);
-o-transform: scale(1.05);
-ms-transform: scale(1.05);
	z-index: 1;
	border: none;
}
.pricing-grid1:nth-child(3){
	margin-right:0;
}
.price-value.three {
	background: #d27ff1;
	border-bottom:1px solid#A24BC3;
}
.price-value ul,.pricing-grid1 ul,.pricing-grid2 ul,.pricing-grid3 ul{
	padding: 0;
}
.price-value ul li,.pricing-grid1,.pricing-grid2 ul li,.pricing-grid3 ul li {
	list-style: none;
}
.price-value ul li{
	list-style: none;
}
ul.count,.pricing-grid1 ul li a,ul.count,.pricing-grid2 ul li a,ul.count,.pricing-grid3 ul li a{
	font-size: 15px;
	display: block;
	text-decoration: none;
	font-weight: 400;
	text-align: center;
	list-style: none;
	margin-bottom: 3em;
}

.count {
	margin-top: 0;
	padding: 0;
}

ul.count li {
  padding: 4px 0;
  font-size: 1em;
  color: #fff;
}
.col-md-6.pricing-grid {
  width: 40%;
  margin: 0 48px;
}
.price-bg {
	background: #1f1f1f;
	padding: 1em 0 4em;
	border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -o-border-radius: 5px;
}
p.price-label-1 {
  color: #FFFFFF;
  text-align: center;
   font-size: 5.5em;
  font-weight: 700;
}
p.price-label-2 {
  color: #FFFFFF;
  text-align: center;
   font-size: 5.6em;
  font-weight: 700;
}
.price-bg p i {
  vertical-align: super;
}
li.tag-now-1 a {
  color: #fff;
}
li.tag-now-3 {
  background: #D27FF1;
   float: right;
  margin-top: 0px;
}
li.tag-now-3:hover {
	  background: #9227BA;
	      transition: 0.5s all;
  -webkit-transition: 0.5s all;
  -moz-transition: 0.5s all;
  -o-transition: 0.5s all;
}
li.tag-now-3 a {
  color: #fff;
    padding: 10px;
}
p.price-label-11 {
  text-align: center;
  color: #fff;
  font-size: 1.3em;
  padding-bottom: 1em;
}
p.price-label-22 {
  text-align: center;
  color: #fff;
  font-size: 1.3em;
  padding-bottom: 1em;
}
.price-button {
  text-align: center;
}
.hvr-shutter-in-vertical {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: translateZ(0);
  transform: translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  -moz-osx-font-smoothing: grayscale;
  position: relative;
  background: #23415C;
  -webkit-transition-property: color;
  transition-property: color;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  padding: 15px 40px;
  text-decoration: none;
   font-weight: 700;
   font-size: 1.4em;
}
.hvr-shutter-in-vertical:before {
  content: "";
  position: absolute;
  z-index: -1;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: #fff;
  -webkit-transform: scaleY(1);
  transform: scaleY(1);
  -webkit-transform-origin: 50%;
  transform-origin: 50%;
  -webkit-transition-property: transform;
  transition-property: transform;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-timing-function: ease-out;
  transition-timing-function: ease-out;
    color: #23415C;
  padding: 15px 40px;
  font-size: 1.4em;
  font-weight: 700;
  border-radius: 3px;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  -o-border-radius: 3px;
  text-decoration:none;
  text-decoration: none;
}
.hvr-shutter-in-vertical:hover, .hvr-shutter-in-vertical:focus, .hvr-shutter-in-vertical:active {
  color: white;
  text-decoration: none;
}
.hvr-shutter-in-vertical:hover:before, .hvr-shutter-in-vertical:focus:before, .hvr-shutter-in-vertical:active:before {
  -webkit-transform: scaleY(0);
  transform: scaleY(0);
}
.pricing-data {
  padding: 4em 0;
}
.col-md-4.pricing-grid {
  width: 27%;
  margin: 0 2.5em;
}
.pricing-data h4 {
  text-align: center;
  font-size: 2.1em;
  color: #fff;
  font-weight: 600;
}
.pricing-data p {
  text-align: center;
  font-size: 1.18em;
  color: #fff;
  font-weight: 200;
  width: 62%;
  margin: 0 auto;
  padding: 1.5em 0 0em;
  line-height: 1.7em;
}



.contact {
	background-color: white; 
	padding: 6em 0;
}

.contact-info h1{
	text-align: center;
	font-size: 5em;
	font-weight: 700;
	color: #252525;
}

.contact-info p{
	text-align: center;
	font-family: 'Open Sans', sans-serif;
	font-size: 1.46em;
	color: #252525;
	font-weight: 700;
	width: 56%;
	margin: 0 auto;
	padding: 1.5em 0 1.5em;
	line-height: 1.7em;
	border-bottom: 1px solid#D7D7D7;
}

#scroll {
    position:fixed;
    right:10px;
    bottom:10px;
    cursor:pointer;
    width:50px;
    height:50px;
    background-color:#23415C;
    text-indent:-9999px;
    display:none;
    -webkit-border-radius:60px;
    -moz-border-radius:60px;
    border-radius:60px
}
#scroll span {
    position:absolute;
    top:50%;
    left:50%;
    margin-left:-8px;
    margin-top:-12px;
    height:0;
    width:0;
    border:8px solid transparent;
    border-bottom-color:#ffffff;
}


	

	.footer {
	  padding: 2em 0;
	}
	.footer p {
	  font-size: 1em;
	}

@media (max-width: 320px){
	.top-menu {
	  padding: 0;
	}
	.banner-top h1 {
	  font-size: 2.5em;
	  padding-top: 1.5em;
	}
	.banner {
	  min-height: 200px;
	}
	.logo a img {
	  width: 15%;
	}
	.banner-top h2 {
	  font-size: 15px;
	  margin-bottom: 10px;
	  padding: 10px 0;
	}
	.top-menu ul {
		  top: 8%;
	}
	.top-menu ul li {
	  padding: 6px 0;
	}
}

.socialIcons {
    text-align: center;
    margin-top: 2em;
    word-spacing: 120px;
}

.contact-info img{
	display: inline-block;
    width: 125px;
    height: 125px;
    margin: 5px;
}

.space {
	width: 50px;
}

.HoverBToW {
	-webkit-filter: grayscale(100%); /* Ch 23+, Saf 6.0+, BB 10.0+ */
  	filter: grayscale(100%); /* FF 35+ */
  	transition: filter .5s ease-in-out;
}
.HoverBToW:hover {
    -webkit-filter: grayscale(0%); /* Ch 23+, Saf 6.0+, BB 10.0+ */
  	filter: grayscale(0%); /* FF 35+ */
}



/*--- iOS Landing Page Fix
section {
 	position: relative;
 	width: 100%;
 	height: 100%;
 	display: table;
}
.home-wrap {
 	clip: rect(0, auto, auto, 0);
 	position: absolute;
 	top: 0;
 	left: 0;
 	width: 100%;
 	height: 100%;
}
#home {
	background-image: url('img/mountains.jpeg');
 	position: fixed;
 	display: table;
 	top: 0;
 	left: 0;
 	width: 100%;
	height: 100%;
	background-size: cover;
	background-position: center center;
	-webkit-transform: translateZ(0);
          transform: translateZ(0);
	will-change: transform;
	z-index: -1;
}
.landing-text {
	z-index: 100;
	display: table-cell;
	text-align: center;
	vertical-align: middle;
}
--*/

/*--- iOS Fixed Image Fix
figure {
	position: relative;
	width: 100%;
	height: 60%;
}
.fixed-wrap {
	clip: rect(0, auto, auto, 0);
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}
#fixed {
	background-image: url('img/background.jpg');
	position: fixed;
	display: block;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-size: cover;
	background-position: center center;
	-webkit-transform: translateZ(0);
          transform: translateZ(0);
	will-change: transform;
}
--*/

