html, body{
	height: 100%;
	width: 100%;
}


.navbar {
	background-color: #23415C;
	padding: 1% 0;
	font-size: 1.2em;
}

.navbar-brand {
	min-height: 55px;
	padding: 0 15px 5px;
}
.navbar-default .navbar-nav li a {
	color: #D5D5D5!important;
}

.navbar-default .navbar-nav li a:hover{
	color: white!important;
}

.navbar-brand img{
	padding-bottom: 50px;
	height: 100px;
	size: 55px;
}

/*#home {
	background: url(../img/mountains.jpeg) no-repeat center center fixed;
	display: table;
	height: 100%;
	position: relative;
	width: 100%;
	background-size: cover;
}*/
#home {
	padding: 0;
}

.top-info h1{
	font-family: 'Quicksand', sans-serif;
	text-align: center;
}

.top-info p {
	font-family: 'Quicksand', sans-serif;
	font-weight: 800;
	color: #a0a4b1;
	text-align: center;
}

.mainImage img{
	display: block;
	max-width: 100%;
	height: auto;
	border: 3px solid #FFF;
	width: 100%
}

.landing-text{
	display: table-cell;
	text-align: center;
	vertical-align: middle;
}

.landing-text h1{
	font-size: 500%;
	font-weight: 700;
	line-height: 0.6;
}

.about h3{
	font-family: 'Quicksand', sans-serif;
}

.about p{
	font-family: 'Open Sans', sans-serif;
}

.landing-text h2{
	font-family: 'Quicksand', sans-serif;
	font-weight: 300;
}

.landing-text a{
	font-family: 'Quicksand', sans-serif;
	font-weight: 400;
}

.type {
	font-weight: normal;
	display: inline-block;
	letter-spacing: 1px;
	text-transform: uppercase;
	padding: 3px 6px;
	border-radius: 2px
	background: #e84c3d;
	font-size: 1.2rem;
	line-height: 1;
	color: #FFF;
	text-align: center;
	white-space: nowrap;
	vertical-align: baseline;
}

.info {
	border-color: #E3E7E8;
	border-radius: 2px;
	box-shadow: 0 1px 2px #d8dadf;
	border:none;
}

.about{
	padding:0 1.875rem 1.875rem;
}

.type.big{
	font-weight: normal;
	display: inline-block;
	letter-spacing: 1px;
	text-transform: uppercase;
	padding: 3px 6px;
	border-radius: 2px
	background: #e84c3d;
	font-size: 2rem;
	line-height: 1;
	color: #FFF;
	text-align: center;
	white-space: nowrap;
	vertical-align: baseline;
}

.review{
	border-color: #E3E7E8;
	border-radius: 2px;
	box-shadow: 0 1px 2px #d8dadf;
	border:none;
}

.stars{
	padding-left: 15px;
}

.fa-star{
	color: gold;
}

.type{
	background: #e84c3d;
}

.fit{
	width: 725px;
	height: auto;
}